@media screen and (min-width: 1200px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  section,
  .section-container {
    height: fit-content;
    margin: 0 5%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }
.icon-flex{
  width: 60%;
}
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }
}
@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 600px) {
  .article-container img {
    max-width: 100%;
    height: auto;
  }
  .project-container {
    flex: 100%;

  }
  .education-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .sem-container {
    flex: 100%; /* Full width for mobile view */
}
 
}
@media screen and (max-width: 600px) {
  .experience-details-container {
    text-align: center;
  }
  article {
    flex-direction: column;
  }
  .experience-sub-title {
    height:auto;
  }
}
@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 600px) {
  .experience-details-container {
    text-align: center;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 0.9rem;
  }
  .details-containers {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
    .experience-sub-title {
        height: auto;
    }
    article{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: auto;
    }
    .article-container {
        text-align: center;
        justify-content: center;
        padding: auto;
    }
}

